<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/nav %>
    <section id = "content">
      <div class = "container">
        <div class = "card">
          <div class = "page-header">
            <h3>Want to Connect?</h3>
            <p>
              I'm easy to get a hold of, just use any of the below!
            </p>
          </div>
          <h3>GitHub!</h3>
          <img src ="images/Octocat.png" height = "100px;" href = "https://github.com/Sterahi/" />
          <h3>Twitter!</h3>
          <a href="https://twitter.com/CodedWrong" class="twitter-follow-button" data-show-count="false" data-size="large"><img src = "/images/twitter.png" height = 100/></a>
          <h3>Email me!</h3>
          <a href = "mailto:lizmurray479@gmail.com"><span class = "glyphicon glyphicon-envelope" style = "font-size:100px; color:black !important; decoration:none;"></span></a>
        </div>
      </div>
    </section>
    <section id = "javascripts">
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </section>
  </body>
</html>
