<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel = "stylesheet" href = "stylesheets/style.css" />
  </head>
  <body>
    <% include partials/nav %>
    <section id = "content">
      <div class = "container">
          <div class = "page-header">
            <h1>We've got some serious construction going on here. Give me a bit and we'll get it running!<3</h1>
          </div>
      </div>
    </section>
    <section id = "javascripts">
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </section>
  </body>
</html>
