@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato:700i|Open+Sans");
h1 {
  font-family: 'Open Sans', sans-serif; }

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

h4 {
  font-family: 'Open Sans', sans-serif; }

h5 {
  font-family: 'Open Sans', sans-serif; }

p {
  font-family: 'Open Sans', sans-serif; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

.clearfix {
  clear: both; }

.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0; }

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0; }

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #ee6e73; }

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto; }

.pagination li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 30px; }

.pagination li a {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px; }

.pagination li.active a {
  color: #fff; }

.pagination li.active {
  background-color: #ee6e73; }

.pagination li.disabled a {
  cursor: default;
  color: #999; }

.pagination li i {
  font-size: 2rem; }

.pagination li.pages ul li {
  display: inline-block;
  float: none; }

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%; }
  .pagination li.prev,
  .pagination li.next {
    width: 10%; }
  .pagination li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap; } }

.breadcrumb {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7); }

.breadcrumb i,
.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
.breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px; }

.breadcrumb:before {
  content: '\E5CC';
  color: rgba(255, 255, 255, 0.7);
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased; }

.breadcrumb:first-child:before {
  display: none; }

.breadcrumb:last-child {
  color: #fff; }

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px; }

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.pin-top, .pin-bottom {
  position: relative; }

.pinned {
  position: fixed !important; }

/*********************
  Transition Classes
**********************/
ul.staggered-list li {
  opacity: 0; }

.fade-in {
  opacity: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%; }

/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important; } }

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important; } }

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important; } }

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important; } }

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important; } }

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important; } }

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important; } }

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important; } }

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center; } }

.page-footer {
  padding-top: 20px;
  background-color: #ee6e73; }

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08); }

table, th, td {
  border: none; }

table {
  width: 100%;
  display: table; }

table.bordered > thead > tr,
table.bordered > tbody > tr {
  border-bottom: 1px solid #d0d0d0; }

table.striped > tbody > tr:nth-child(odd) {
  background-color: #f2f2f2; }

table.striped > tbody > tr > td {
  border-radius: 0; }

table.highlight > tbody > tr {
  transition: background-color .25s ease; }

table.highlight > tbody > tr:hover {
  background-color: #f2f2f2; }

table.centered thead tr th, table.centered tbody tr td {
  text-align: center; }

thead {
  border-bottom: 1px solid #d0d0d0; }

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px; }

@media only screen and (max-width: 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */ }
  table.responsive-table td:empty:before {
    content: '\00a0'; }
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top; }
  table.responsive-table th {
    text-align: left; }
  table.responsive-table thead {
    display: block;
    float: left; }
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0; }
  table.responsive-table thead tr th::before {
    content: "\00a0"; }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; }
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top; }
  table.responsive-table th {
    display: block;
    text-align: right; }
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left; }
  table.responsive-table tr {
    padding: 0 10px; }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid #d0d0d0; }
  table.responsive-table.bordered th {
    border-bottom: 0;
    border-left: 0; }
  table.responsive-table.bordered td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
  table.responsive-table.bordered tr {
    border: 0; }
  table.responsive-table.bordered tbody tr {
    border-right: 1px solid #d0d0d0; } }

.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative; }

.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0; }

.collection .collection-item.avatar {
  min-height: 84px;
  padding-left: 72px;
  position: relative; }

.collection .collection-item.avatar .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle; }

.collection .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center; }

.collection .collection-item.avatar .title {
  font-size: 16px; }

.collection .collection-item.avatar p {
  margin: 0; }

.collection .collection-item.avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px; }

.collection .collection-item:last-child {
  border-bottom: none; }

.collection .collection-item.active {
  background-color: #26a69a;
  color: #eafaf9; }

.collection .collection-item.active .secondary-content {
  color: #fff; }

.collection a.collection-item {
  display: block;
  transition: .25s;
  color: #26a69a; }

.collection a.collection-item:not(.active):hover {
  background-color: #ddd; }

.collection.with-header .collection-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px; }

.collection.with-header .collection-item {
  padding-left: 30px; }

.collection.with-header .collection-item.avatar {
  padding-left: 72px; }

.secondary-content {
  float: right;
  color: #26a69a; }

.collapsible .collection {
  margin: 0;
  border: none; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden; }

.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width .3s linear; }

.progress .indeterminate {
  background-color: #26a69a; }

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

/*******************
  Utility Classes
*******************/
.hide {
  display: none !important; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.center, .center-align {
  text-align: center; }

.no-select, input[type=range],
input[type=range] + .thumb {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.circle {
  border-radius: 50%; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.no-padding {
  padding: 0 !important; }

span.badge {
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 14px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  color: #757575;
  float: right;
  box-sizing: border-box; }

span.badge.new {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px; }

span.badge.new:after {
  content: " new"; }

span.badge[data-badge-caption]::after {
  content: " " attr(data-badge-caption); }

.collection-item span.badge {
  margin-top: calc(0.75rem - 11px); }

.collapsible span.badge {
  margin-top: calc(1.5rem - 11px); }

.side-nav span.badge {
  margin-top: calc(24px - 11px); }

/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga'; }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.section.no-pad {
  padding: 0; }

.section.no-pad-bot {
  padding-bottom: 0; }

.section.no-pad-top {
  padding-top: 0; }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px; }

.row .col[class*="push-"], .row .col[class*="pull-"] {
  position: relative; }

.row .col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto; }

.row .col.offset-s1 {
  margin-left: 8.3333333333%; }

.row .col.pull-s1 {
  right: 8.3333333333%; }

.row .col.push-s1 {
  left: 8.3333333333%; }

.row .col.offset-s2 {
  margin-left: 16.6666666667%; }

.row .col.pull-s2 {
  right: 16.6666666667%; }

.row .col.push-s2 {
  left: 16.6666666667%; }

.row .col.offset-s3 {
  margin-left: 25%; }

.row .col.pull-s3 {
  right: 25%; }

.row .col.push-s3 {
  left: 25%; }

.row .col.offset-s4 {
  margin-left: 33.3333333333%; }

.row .col.pull-s4 {
  right: 33.3333333333%; }

.row .col.push-s4 {
  left: 33.3333333333%; }

.row .col.offset-s5 {
  margin-left: 41.6666666667%; }

.row .col.pull-s5 {
  right: 41.6666666667%; }

.row .col.push-s5 {
  left: 41.6666666667%; }

.row .col.offset-s6 {
  margin-left: 50%; }

.row .col.pull-s6 {
  right: 50%; }

.row .col.push-s6 {
  left: 50%; }

.row .col.offset-s7 {
  margin-left: 58.3333333333%; }

.row .col.pull-s7 {
  right: 58.3333333333%; }

.row .col.push-s7 {
  left: 58.3333333333%; }

.row .col.offset-s8 {
  margin-left: 66.6666666667%; }

.row .col.pull-s8 {
  right: 66.6666666667%; }

.row .col.push-s8 {
  left: 66.6666666667%; }

.row .col.offset-s9 {
  margin-left: 75%; }

.row .col.pull-s9 {
  right: 75%; }

.row .col.push-s9 {
  left: 75%; }

.row .col.offset-s10 {
  margin-left: 83.3333333333%; }

.row .col.pull-s10 {
  right: 83.3333333333%; }

.row .col.push-s10 {
  left: 83.3333333333%; }

.row .col.offset-s11 {
  margin-left: 91.6666666667%; }

.row .col.pull-s11 {
  right: 91.6666666667%; }

.row .col.push-s11 {
  left: 91.6666666667%; }

.row .col.offset-s12 {
  margin-left: 100%; }

.row .col.pull-s12 {
  right: 100%; }

.row .col.push-s12 {
  left: 100%; }

@media only screen and (min-width: 601px) {
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.offset-m1 {
    margin-left: 8.3333333333%; }
  .row .col.pull-m1 {
    right: 8.3333333333%; }
  .row .col.push-m1 {
    left: 8.3333333333%; }
  .row .col.offset-m2 {
    margin-left: 16.6666666667%; }
  .row .col.pull-m2 {
    right: 16.6666666667%; }
  .row .col.push-m2 {
    left: 16.6666666667%; }
  .row .col.offset-m3 {
    margin-left: 25%; }
  .row .col.pull-m3 {
    right: 25%; }
  .row .col.push-m3 {
    left: 25%; }
  .row .col.offset-m4 {
    margin-left: 33.3333333333%; }
  .row .col.pull-m4 {
    right: 33.3333333333%; }
  .row .col.push-m4 {
    left: 33.3333333333%; }
  .row .col.offset-m5 {
    margin-left: 41.6666666667%; }
  .row .col.pull-m5 {
    right: 41.6666666667%; }
  .row .col.push-m5 {
    left: 41.6666666667%; }
  .row .col.offset-m6 {
    margin-left: 50%; }
  .row .col.pull-m6 {
    right: 50%; }
  .row .col.push-m6 {
    left: 50%; }
  .row .col.offset-m7 {
    margin-left: 58.3333333333%; }
  .row .col.pull-m7 {
    right: 58.3333333333%; }
  .row .col.push-m7 {
    left: 58.3333333333%; }
  .row .col.offset-m8 {
    margin-left: 66.6666666667%; }
  .row .col.pull-m8 {
    right: 66.6666666667%; }
  .row .col.push-m8 {
    left: 66.6666666667%; }
  .row .col.offset-m9 {
    margin-left: 75%; }
  .row .col.pull-m9 {
    right: 75%; }
  .row .col.push-m9 {
    left: 75%; }
  .row .col.offset-m10 {
    margin-left: 83.3333333333%; }
  .row .col.pull-m10 {
    right: 83.3333333333%; }
  .row .col.push-m10 {
    left: 83.3333333333%; }
  .row .col.offset-m11 {
    margin-left: 91.6666666667%; }
  .row .col.pull-m11 {
    right: 91.6666666667%; }
  .row .col.push-m11 {
    left: 91.6666666667%; }
  .row .col.offset-m12 {
    margin-left: 100%; }
  .row .col.pull-m12 {
    right: 100%; }
  .row .col.push-m12 {
    left: 100%; } }

@media only screen and (min-width: 993px) {
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.offset-l1 {
    margin-left: 8.3333333333%; }
  .row .col.pull-l1 {
    right: 8.3333333333%; }
  .row .col.push-l1 {
    left: 8.3333333333%; }
  .row .col.offset-l2 {
    margin-left: 16.6666666667%; }
  .row .col.pull-l2 {
    right: 16.6666666667%; }
  .row .col.push-l2 {
    left: 16.6666666667%; }
  .row .col.offset-l3 {
    margin-left: 25%; }
  .row .col.pull-l3 {
    right: 25%; }
  .row .col.push-l3 {
    left: 25%; }
  .row .col.offset-l4 {
    margin-left: 33.3333333333%; }
  .row .col.pull-l4 {
    right: 33.3333333333%; }
  .row .col.push-l4 {
    left: 33.3333333333%; }
  .row .col.offset-l5 {
    margin-left: 41.6666666667%; }
  .row .col.pull-l5 {
    right: 41.6666666667%; }
  .row .col.push-l5 {
    left: 41.6666666667%; }
  .row .col.offset-l6 {
    margin-left: 50%; }
  .row .col.pull-l6 {
    right: 50%; }
  .row .col.push-l6 {
    left: 50%; }
  .row .col.offset-l7 {
    margin-left: 58.3333333333%; }
  .row .col.pull-l7 {
    right: 58.3333333333%; }
  .row .col.push-l7 {
    left: 58.3333333333%; }
  .row .col.offset-l8 {
    margin-left: 66.6666666667%; }
  .row .col.pull-l8 {
    right: 66.6666666667%; }
  .row .col.push-l8 {
    left: 66.6666666667%; }
  .row .col.offset-l9 {
    margin-left: 75%; }
  .row .col.pull-l9 {
    right: 75%; }
  .row .col.push-l9 {
    left: 75%; }
  .row .col.offset-l10 {
    margin-left: 83.3333333333%; }
  .row .col.pull-l10 {
    right: 83.3333333333%; }
  .row .col.push-l10 {
    left: 83.3333333333%; }
  .row .col.offset-l11 {
    margin-left: 91.6666666667%; }
  .row .col.pull-l11 {
    right: 91.6666666667%; }
  .row .col.push-l11 {
    left: 91.6666666667%; }
  .row .col.offset-l12 {
    margin-left: 100%; }
  .row .col.pull-l12 {
    right: 100%; }
  .row .col.push-l12 {
    left: 100%; } }

@media only screen and (min-width: 1201px) {
  .row .col.xl1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.xl12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }
  .row .col.offset-xl1 {
    margin-left: 8.3333333333%; }
  .row .col.pull-xl1 {
    right: 8.3333333333%; }
  .row .col.push-xl1 {
    left: 8.3333333333%; }
  .row .col.offset-xl2 {
    margin-left: 16.6666666667%; }
  .row .col.pull-xl2 {
    right: 16.6666666667%; }
  .row .col.push-xl2 {
    left: 16.6666666667%; }
  .row .col.offset-xl3 {
    margin-left: 25%; }
  .row .col.pull-xl3 {
    right: 25%; }
  .row .col.push-xl3 {
    left: 25%; }
  .row .col.offset-xl4 {
    margin-left: 33.3333333333%; }
  .row .col.pull-xl4 {
    right: 33.3333333333%; }
  .row .col.push-xl4 {
    left: 33.3333333333%; }
  .row .col.offset-xl5 {
    margin-left: 41.6666666667%; }
  .row .col.pull-xl5 {
    right: 41.6666666667%; }
  .row .col.push-xl5 {
    left: 41.6666666667%; }
  .row .col.offset-xl6 {
    margin-left: 50%; }
  .row .col.pull-xl6 {
    right: 50%; }
  .row .col.push-xl6 {
    left: 50%; }
  .row .col.offset-xl7 {
    margin-left: 58.3333333333%; }
  .row .col.pull-xl7 {
    right: 58.3333333333%; }
  .row .col.push-xl7 {
    left: 58.3333333333%; }
  .row .col.offset-xl8 {
    margin-left: 66.6666666667%; }
  .row .col.pull-xl8 {
    right: 66.6666666667%; }
  .row .col.push-xl8 {
    left: 66.6666666667%; }
  .row .col.offset-xl9 {
    margin-left: 75%; }
  .row .col.pull-xl9 {
    right: 75%; }
  .row .col.push-xl9 {
    left: 75%; }
  .row .col.offset-xl10 {
    margin-left: 83.3333333333%; }
  .row .col.pull-xl10 {
    right: 83.3333333333%; }
  .row .col.push-xl10 {
    left: 83.3333333333%; }
  .row .col.offset-xl11 {
    margin-left: 91.6666666667%; }
  .row .col.pull-xl11 {
    right: 91.6666666667%; }
  .row .col.push-xl11 {
    left: 91.6666666667%; }
  .row .col.offset-xl12 {
    margin-left: 100%; }
  .row .col.pull-xl12 {
    right: 100%; }
  .row .col.push-xl12 {
    left: 100%; } }

@media only screen and (min-width: 0) {
  html {
    font-size: 14px; } }

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px; } }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px; } }

@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1.2rem; } }

@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: 1.224rem; } }

@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: 1.248rem; } }

@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: 1.272rem; } }

@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: 1.296rem; } }

@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: 1.32rem; } }

@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: 1.344rem; } }

@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: 1.368rem; } }

@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: 1.392rem; } }

@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: 1.416rem; } }

@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: 1.44rem; } }

@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: 1.464rem; } }

@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.488rem; } }

@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.512rem; } }

@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.536rem; } }

@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.56rem; } }

@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.584rem; } }

@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.608rem; } }

@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.632rem; } }

@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.656rem; } }

@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.68rem; } }

@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 1.2rem; } }

/**
*  General Styles that are used everywhere.
**/
body {
  background-color: #f2f2f2; }

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100; }
  nav ul {
    float: right;
    margin: 20px 0; }
    nav ul li {
      display: inline-block;
      margin: 0 auto;
      padding: 0 20px; }
      nav ul li a {
        color: white !important; }
        nav ul li a:hover {
          color: #12BD12 !important;
          transition: all 1s ease; }
  nav .tagline {
    display: inline-block;
    margin: 10px 0;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: white; }
    nav .tagline span {
      font-size: 70px;
      line-height: 0; }
    nav .tagline:hover {
      color: #12BD12 !important;
      transition: all 1s ease; }

.hero {
  height: 50vh;
  width: 100vw;
  background-image: url("/images/unnamedgreen.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1; }
  .hero .center {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .hero .center h1 {
      font-family: 'Dancing Script', cursive;
      color: white;
      font-size: 60px;
      margin-top: 0px; }
      .hero .center h1 span {
        font-size: 90px;
        line-height: 0; }
    .hero .center p {
      color: white; }
      .hero .center p span {
        font-size: 35px;
        font-family: 'Dancing Script', cursive; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

.blog h2 {
  font-size: 30px; }

.blog h3 {
  text-align: left;
  font-size: 22px;
  margin-bottom: 20px; }

.blog a {
  color: black; }
  .blog a hr {
    background: transparent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s ease;
    padding-top: 10px;
    width: 250px;
    display: block; }
  .blog a:hover hr {
    border-bottom: 1px solid black;
    transition: border-bottom .5s ease; }

.blog .single a {
  color: black;
  border-bottom: 1px dashed black; }
