{>"layouts/master" /}

{<body}
  <div class = "about">
    <section class = "hero">
      <div class = "center">
      <h1>About Me</h1>
      </div>
    </section>
    <section class = "content">
      <div class = "container">
        <div class = "row">
          {#content}
          {content|s}
          {/content}
        </div>
      </div>
    </section>
  </div>
{/body}
