{>"layouts/master" /}

{<body}
    <div class = "home">
      <section class = "hero">
        <div class = "center">
          <h1><span>s</span>terahi</h1>
          <p>
            <span>programmer, gamer, sushi-aholic</span>
          </p>
        </div>
      </section>
      <section class = "content">
        <div class = "container">
          {#home}
          {content|s}
          {/home}
        </div>
      </section>
    </div>
{/body}
