.blog {
  .hero {
    h1 {
      // font-family: 'Open Sans', sans-serif;
    }
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    text-align: left;
    font-size: 22px;
    margin-bottom:20px;
  }
  a {
    color: black;
    hr {
      background: transparent;
      background-color: transparent;
      border:none;
      border-bottom:1px solid transparent;
      transition: border-bottom .5s ease;
      padding-top:10px;
      width: 250px;
      display: block;
    }
    &:hover {
      hr {
        border-bottom: 1px solid black;
        transition: border-bottom .5s ease;
      }
    }
  }
  .single {
    a {
      color:black;
      border-bottom:1px dashed black;
    }
  }
}
