/**
*  General Styles that are used everywhere.
**/

body {
  background-color: #f2f2f2;
}

nav {
  // background-color: rgba(0,0,0,.8);
  width: 100vw;
  position:fixed;
  top:0;
  z-index: 100;
  ul {
    float:right;
    margin: 20px 0;
    li {
      display: inline-block;
      margin: 0 auto;
      padding: 0 20px;
      a{
        color: white!important;
        &:hover{
          color:#12BD12!important;
          transition: all 1s ease;
        }
      }
    }
  }
  .tagline {
    display: inline-block;
    margin: 10px 0;

    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: white;
    span {
      font-size: 70px;
      line-height: 0;
    }
    &:hover{
      color:#12BD12!important;
      transition: all 1s ease;
    }
  }
}

.hero {
  height:50vh;
  width: 100vw;
  background-image: url('/images/unnamedgreen.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  .center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-family: 'Dancing Script', cursive;
      color:white;
      font-size:60px;
      margin-top:0px;
      span {
        font-size: 90px;
        line-height: 0;
      }
    }
    p {
      color: white;
      span {
        // display: block;
        font-size: 35px;
        font-family: 'Dancing Script', cursive;
      }
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
