@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato:700i|Open+Sans');

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}
